.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.profile-container{
  display: flex;
  flex-direction: row;
}
.home-container{
  width:1140px;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color:#f6f6f6;
  min-height:100vh;
  margin-bottom:30px
}
.headers{
  color: grey;
  font-size: 12px;
}
i{
  font-size: 14px;
}
.description{
  font-size:22px;
  font-family: "Roboto";
  color:#2a2a2c;
}
.number{
  font-size: 24x;
  font-weight: 600;
  margin-right: 5px;
}
p{
  margin-top:5px;
  margin-bottom:5px;
}
h3{
  font-family: 'Roboto',
}
hr.dotted {
  border: none;
  border-top: 1px dotted #000000;
  height: 0;
  width: 100%;
}
.dotted1{
  margin-top: 0px;
}
.dotted2{
  margin-top: -10px;
}
.dotted-vertical-line {
  border-left: 1px dotted #000000;
  height: 100px; /* Adjust the height as needed */
}
.description-2{
  margin-top:-5px;
  font-size: 14px;
  
}
.conditions{
  font-size: 14px;  
}
.icons{
  width:30px;
  height: 30px;
  margin-right: 10px;
}
.footer{
  bottom: 0;
}
.icon-syringe{
  transform: rotate(45deg);
  width:120px;
}
.syringe-container{
  display: flex;
  justify-content: center;
}
.pill{
  background-color: #eee9d2;
  width: 100px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border:1px solid black;
  color: #ffffff;
}
.pill-2{
  background-color: yellow;
  border:1px solid black; 
  padding: 5px;
}
.pill-2-first-half{
  width:50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.pill-2-second-half{
  width:50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  
}
.pill-empty{
  color:yellow;
}